.form {
    width: 450px;
    margin: auto;
    color: #fff;
}

.block {
    text-align: center;
    border-radius: 10px;
    background-color: rgba(135, 74, 150, 0.667);
}

.form input {
    width: 200px;
    margin: 5px 5px;
}

.form a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

.form a:hover {
    color: rgb(209, 24, 24);
}

.form input {
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(16, 149, 238);
}

.btn {
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    border: none;
    width: 200px;
    margin-bottom: 10px;
}

.btn:hover {
    color: rgb(209, 24, 24);
}