/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap"); */

.main__serch__form {
  position: relative;
  height: 225px;
  width: 100%;
  background-color: #3a5bcd;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__serch__form__input {
  width: 16%;
  height: 80px;
  border-radius: 10px;
  font-size: 28px;
  margin-top: 50px;
}

.main__serch__form__title {
  font-size: 64px;
  color: white;
  line-height: 0;
  margin: 0;
  font-weight: normal;
}

input[type=text] {
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 90%;
}
