.carts {
  border-radius: 25px;
  margin-top: 40px;
  width: 545px;
  height: 695px;
  background-color: #3a5bcd;
}

.carts__img__item {
  width: 507px;
  height: 460px;
  border-radius: 25px;
  margin: 17px;
  box-shadow: -1px 2px 13px 12px rgba(34, 60, 80, 0.2);
}

.text {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding-left: 28px;
  padding-right: 28px;
}

.carts__btn {
  color: white;
  background-color: #3a5bcd;
  width: 199px;
  height: 73px;
  border-radius: 15px;
  border: 5px solid white;
  font-size: 30px;
  margin-left: 160px;
}
